{% extends 'base.html' %}
{% block play %}
<div id = "container">
    <audio id="audio_player">
            <source src="http://icelive0.80692-icelive0.cdn.qbrick.com/10565/80692_RadioRock.mp3" type="audio/mp3" id="audio_player_src">
    </audio>
    <script type=text/javascript src="{{url_for('static', filename='javascript/audio_player.js') }}"></script>
   <div id = "player">
        <div class="play-button-outer" id = "play_button">
            <div onclick="startPlayer()" class="play-button"></div>
        </div>
        <div class="play-button-outer">
            <div onclick="stopPlayer()" id = "stop_button" ></div>
        </div>
    </div>
    <div>
        <div id="category"> Category:<div id = "category_value"></div></div>
    </div>
    <div id = "probabilities">
        <h4>Probabilities</h4>
        <div>
            <div id = "music_probability"><div id = "music_probability_value"></div></div>
        </div>
        <div>
            <div id = "speech_probability"><div id = "speech_probability_value"></div></div>
        </div>
        <div>
            <div id = "ads_probability"><div id = "ads_probability_value"></div></div>
        </div>
    </div>
</div>
{% endblock %}
